.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .details {
        padding: 1rem;
        margin: 1rem;
        max-width: 1440px;
        width: 100%;
        height: 100%;

        mat-card {
            padding: 1rem;
            margin: 1rem;
            width: 100%;
            height: 100%;
        }

        .article-image {
            width: 100%;
            max-width: 600px;
            margin: 20px 0;
            display: block;
          }
          
          .tags {
            margin-top: 10px;
          }
          
          .loading {
            display: flex;
            justify-content: center;
            margin-top: 50px;
          }
          
          .error-message {
            text-align: center;
            color: red;
          }
          
    }
}